---
import type { LandingData } from '../../types/landing';
import Container from './Container.astro';

export interface Props {
  brand: LandingData['brand'];
}

const { brand } = Astro.props;
---

<header class="site-header">
  <Container class="site-header__inner">
    <a class="site-brand" href="#hero">
      <strong>{brand.brandName}</strong>
      <span>{brand.teacherName} {brand.subject}</span>
    </a>
  </Container>
</header>
