---
import type { LandingData } from '../../types/landing';
import Container from './Container.astro';
import FloatingHeaderController from '../ui/FloatingHeaderController.svelte';

export interface Props {
  brand: LandingData['brand'];
}

const { brand } = Astro.props;
---

<header class="site-header" data-scroll-state="top">
  <FloatingHeaderController client:load selector=".site-header" />

  <Container class="site-header__inner">
    <div class="site-header__bar">
      <a
        class:list={['site-brand', brand.logo && 'site-brand--logo']}
        href="#hero"
        aria-label={`${brand.brandName} 상단으로 이동`}
      >
        <img
          class="site-brand__logo"
          src={brand.logo}
          alt=""
          width="1863"
          height="441"
          decoding="async"
        />
      </a>

      <a class="site-header__cta" href="#contact">
        문의
      </a>
    </div>
  </Container>
</header>
